{
  auto_https off
}

http://{$ARGOCD_HOST} {
  reverse_proxy {$ARGOCD_UPSTREAM}
}

http://{$VCP_HOST} {
  reverse_proxy {$VCP_UPSTREAM}
}

http://{$FORGEJO_HOST} {
  reverse_proxy {$FORGEJO_UPSTREAM}
}
